.box {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
}

.number {
    display: table;
}

.board {
    background-color: palevioletred;
}

.start {
    background-color: rgb(102, 170, 206);
}

.start.left{
    border-right: 0;
    width: 41px;
}

.start.right{
    border-left: 0;
    width: 41px;
}