.container{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: -2px;
    border: 1px solid black;
}

.upperrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 3%;
}

.number {
    display: table;
}

.board {
    background-color: palevioletred;

}

.boardbox{
    border: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
}

.start {
    background-color: rgb(102, 170, 206);
}

.start.left{
    border-right: 0;
    width: 51px;
}

.start.right{
    border-left: 0;
    width: 51px;
}

h1{
    border: 1px solid black;
    text-align: center;
}

#outputDice {
    width:80px;
    height:80px;
    padding-left: 42%;
}

img {
    width: 100%;
    height: 100%;
}

button{
    margin: 20px;
}

.gans {
    background-color: mediumpurple;
}

.brug{
    background-color: saddlebrown;
}

.dedood{
    background-color: #2f2f2f;
}

.herberg {
    background-color: lightslategrey;
}

.doornstruik {
    background-color: darkgreen;
}

.opnieuwgooien {
    background-color: chocolate;
}

.legenda {
    width: 80%;
    border: 1px solid black;
    margin-left: 10%;
    margin-bottom: 2%;
}

.row1legenda, .row2legenda {
    padding-left: 1%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
}

.row1legenda {
    padding-bottom: 1%;
    padding-top: 2%;
}

.row2legenda {
    padding-bottom: 2%;
}

.meaning {
    text-align: left;
}

@media (max-width: 767.98px) {

}